<ion-header>
    <ion-navbar>
        <ion-title>
            账户
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item (click)="modifyInfo()">
            <ion-avatar item-left>
                <img [src]="user.userImage">
            </ion-avatar>
            <h1>{{user.nickname}}</h1>
            <h2>账号 : {{user.username}}</h2>
            <h2>邮箱 : {{user.email}}</h2>
        </button>
        <button ion-item (click)="myGame()">
            <ion-icon name="game-controller-b" item-left style="margin-bottom: 5px"> </ion-icon>
            我的游戏
        </button>
        <button ion-item (click)="auxiliaryTool()">
            <ion-icon name="cube" item-left style="margin-bottom: 5px"> </ion-icon>
            辅助工具
        </button>
        <button ion-item (click)="latestActivity()">
            <ion-icon name="browsers" item-left style="margin-bottom: 5px"> </ion-icon>
            最新活动
        </button>

        <button ion-button color="light" block style="margin-top: 120px" (click)="logout()">
            退出登录
        </button>
    </ion-list>

</ion-content>
