<ion-header>
    <ion-navbar>
        <ion-title>
            {{game.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngFor="let item of itemList" style="border-bottom:medium solid #d0d0d0">
        <ion-row style="margin-left: 2px; font-size: large; font-weight: bold">
            {{item.name}}
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <img src="{{item.icon}}" alt="{{item.name}}" width="60px" height="60px">
            </ion-col>
            <ion-col col-5>
                <ion-row *ngFor="let key of getKeys(item.description)">
                    {{key}}：{{item.description[key]}}
                </ion-row>
            </ion-col>
            <ion-col col-4>
                <ion-row>
                    库存：{{item.store}}
                </ion-row>
                <ion-row>
                    金币：{{item.price}}
                </ion-row>
                <ion-row>
                    <button ion-button color="default" outline style="height: 25px; margin-left: -3px" (click)="purchaseItem(item)" *ngIf="item.store === 0">购买</button>
                    <button ion-button color="dark" outline style="height: 25px; margin-left: -3px" *ngIf="item.store !== 0">已拥有</button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
